<section class="container-fluid content-wrapper">
    <h1>Digital Math Platform Designed by Education Experts</h1>
    <p>Personalised maths learning for year K-6 students aligned to your local curriculum</p>
    <div class="btn-wrapper">
        <button class="btn btn-border has-icon" (click)="openModal('https://www.youtube.com/embed/cr_topHuNLY')">
            <i class="fa fa-play-circle" aria-hidden="true"></i>
            Why matific?
        </button>
        <button class="btn btn-fill">Start a Free Trial</button>
    </div>
</section>

<app-gallery class="gallery"></app-gallery>

<app-why-matific></app-why-matific>