<section class="container-fluid content-wrapper">
    <h1>{{contents?.title}}</h1>
    <p>{{contents?.desc}}</p>
    <div class="btn-wrapper">
        <button class="btn btn-border has-icon" (click)="openModal('https://www.youtube.com/embed/cr_topHuNLY')">
            <i class="fa fa-play-circle" aria-hidden="true"></i>
            {{contents?.whyText}}
        </button>
        <button class="btn btn-fill">{{contents?.startTrial}}</button>
    </div>
</section>

<app-gallery class="gallery"></app-gallery>

<app-why-matific></app-why-matific>