<header (window:scroll)="onWindowScroll($event)" [className]="activeHeader ? 'container-fluid header active' : 'container-fluid header inactive'">
    <div class="left-wrapper">
        <img src="../../../assets/images/matific-logo-white.png" class="logo" alt="Matific"/>
        <img src="../../../assets/images/matific-logo-black.png" class="logo hidden" alt="Matific"/>
        <div class="flag-wrapper desktop-only">
            <div class="flag clear-a au">
                <img class="float-l" src="../../../assets/flags/au.png" alt="Austrailia"/>
                <span class="float-l">En</span>
            </div>
            <div class="flag clear-a israel hidden">
                <img class="float-l" src="../../../assets/flags/is.png" alt="Austrailia"/>
                <span class="float-l">He</span>
            </div>
        </div>
        <div class="tel-wrapper clear-a">
            <i class="fa fa-phone float-l" aria-hidden="true"></i>
            <span class="desktop-only float-l">1300 014 913</span>
        </div>
        <span class="mobile-only menu-icon-wrapper">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </span>
    </div>
    <div class="right-wrapper">
        <i class="fa fa-window-close-o" aria-hidden="true"></i>
        <nav class="main-menu">
            <ul>
                <li><a href="">Math Activities</a></li>
                <li><a href="">Matific platform</a></li>
                <li><a href="">Our Pedagogy</a></li>
                <li><a href="">For Parents</a></li>
            </ul>
        </nav>
        <button class="btn btn-border">Login</button>
        <button class="btn btn-fill">Free Trial</button>
    </div>

</header>
