@import "../../../../init";
.modal-wrapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    .modal-content-wrapper{
        width: auto;
        max-width: 90%;
        margin: 35px auto;
        padding: 10px 10px 5px;
        background:$heading-text;
        position: relative;
        .modal-header,.modal-body{
            padding: 0;
            border:0;
            .close{
                padding: 0;
                position: absolute;
                top: 0;
                right: 0;
                background: $btn-bg;
                opacity: 1;
                width: 25px;
                height: 25px;
                padding: 0;
                border-radius: 50%;
                line-height: 12px;
                margin: -10px -12px 0 0;
                font-size: 1.9em;
                font-weight: 400;
                box-shadow: 0 0 3px #fff;
                color: #fff;
                border:0 !important;
                &:focus{
                    border:0 !important;
                }
                span{
                    padding: 0 0 3px;
                    margin: 0;
                    display: block;
                    border: 0;
                }
            }
            iframe{
                border-radius: 5px;
            }
        }
    }
    .modal-body{
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 62.5% !important; /* 8:5 Aspect Ratio */
    }
    .responsive-iframe{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 768px) {
    .modal-wrapper{
        .modal-content-wrapper{
            max-width: 738px;
        }
    }
}