<section class="why-matific-wrapper">
    <div class="container">
        <h2>Why Matific?</h2>
        <p>Here are few reasons why Matific will help make Mathematics learning easier for teachers and students.</p>
        <ol>
            <li><p>Matific is a collection of online Mathematics activities that teach students problem solving and critical thinking through discovery. We have been academically proven to improve test scores and to reduce anxiety.</p></li>
            <li><p>We use game based principles to encourage students to learn through discovery, and we also have all the usual stuff schools may like such as worksheets, lesson plans, and of course real time reporting.</p></li>
            <li><p>Matific's content is completely browsable and searchable, and you can even designate any content specifically for schoolwork or homework, and all our content is aligned to your local curriculum or textbook.</p></li>
            <li><p>If you like, you can use the Matific's auto assign feature to assign 15 minutes of targeted and personalized work to your students each week, and then track their progress.</p></li>
            <li><p>Most importantly, we’ve worked really hard to make sure students LOVE Matific.</p></li>
        </ol>
    </div>    
</section>