@import "./fonts";

$prime-color:#205FAB;
$second-color: #4D8FC4;
$accent-color:#F66A04;
$prime-text: #333;
$heading-text:#006173;
$btn-bg:#ff6a00;
$icon-blue:#00c3b8;

$reg-font: 'pt_sansregular', sans-serif;
$bold-font: 'pt_sansbold', sans-serif;