/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "./init";
@import "./mixins";


@media screen and (min-width: 992px){
    .rtl{
        .header{
            flex-direction: row-reverse;
            .left-wrapper,
            .right-wrapper{
                flex-direction: row-reverse !important;
                .flag-wrapper{
                    margin: 18px 30px 0 !important;
                }
            }
        }
        .content-wrapper .btn.btn-border i{
            float: right;
            margin: 5px 0 0 !important;
        }
        .gallery-container .product-item .product-item-content h3{
            text-align: right !important;
            i{
                float: right;
                margin: 0 0 0 10px;
            }
        }
        .why-matific-wrapper{
            text-align: right;
        }
    }
}